@import "tailwindcss";

:root {
   --accent-purple: #8C5FEE; 
   --font-halo: "Halo Dek", sans-serif;
   --font-nortica-regular: "Nortica Regular", sans-serif;
   --font-nortica-medium: "Nortica Medium", sans-serif;
   --font-nortica-semibold: "Nortica SemiBold", sans-serif;
   --font-nortica-bold: "Nortica Bold", sans-serif;
}               

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-nortica-regular);
}

.hero-section {
  transition: background 0.5s ease-in-out;
}

#mint-btn {
  background-color: var(--accent-purple);
  padding: 10px 38px 30px 50px !important;
  border-radius: 12px !important;
  width: 146px !important;
  height: 38px !important;
}

.first-carousel {
  border-top: 28px solid #8C5FEE;
}



.mint-cta-nav {
  width: 146px !important;
  height: 38px !important;
}

.purple-btn {
  background-color: var(--accent-purple);
  border-radius: 12px !important;
}


#about {
  border-top: 1px solid #ACACAC;
}

.as-mint-cta {
  font-weight: 400;
  font-size: 34px;
  font-family: var(--font-halo);
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-right {
  animation: scrollRight 30s linear infinite;
  width: 200%;
}

.animate-scroll-left {
  animation: scrollLeft 30s linear infinite;
  width: 200%;
}


@media(max-width: 767px) {


  .first-carousell {
    justify-content: center !important;
    align-items: center !important;
  }

  .animate-scroll-right {
    animation: scrollRight 13s linear infinite;
  }

  .animate-scroll-left {
    animation: scrollLeft 13s linear infinite;
  }
}




/* When sidebar is open */
 body.menu-open {
  overflow: hidden;
  filter: blur(4px);
  transition: filter 0.3s ease;
} 